# .gitignore

# Local configuration
local.conf

# Play
dist/
RUNNING_PID

# sbt
project/project/
target/

# Logs
*.log
logs/

# Temporary files
*~
*.bak
*.old
*.tmp
nohup.out
tmp/

# vim
.*.sw[a-z]

# Eclipse
.cache
.classpath
.project
.settings/
.target/
bin/

# Mac OS X
._*
.DS_Store

# Windows
Desktop.ini
Thumbs.db
